@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Reddit+Mono:wght@200..900&display=swap');



body  {
 margin: 0;
 display: flex;
 justify-content: center;
 height: 100vh;
 align-items: center;
 background-color: salmon;
font-family: 'permenent Marker',cursive;
}
  
  